<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
    <h1>Edit or Delete transactions</h1>
    <div><% let newAmount = 0; %>
        <% expenses.forEach(function(expense){ %>
       <% newAmount += expense.amount; %>   
    <% }) %>
    <p><%= newAmount %></p>
   </div>
   <table id="expenselist">
        <thead>
          <tr>
            <th>Expense</th>
            <th>Amount</th>
          </tr>
        </thead>
      <tbody>
      <% expenses.forEach(function(expense){ %>
        <tr>
            <td><%= expense.text %></td>
            <td><%= expense.amount %></td>
         <td><a href="/expenses/<%= expense._id %>">Edit</a></td>
         <td> 
           <form action="/expenses/<%=expense._id %>?_method=DELETE" method="POST">
           
          <button type="submit">Delete</button>
        </form>  
         </td>

         
        </tr>
    
      <% }); %>
    
      </tbody>  

   </table>
   <br>
   <a href="/">Back</a>   
</body>
</html>